.lista-produtos {
    height: calc(100% - 250px);
    margin-right: 10px;
    margin-left: 10px;
    overflow: auto;
}

.footer-cart {
    margin-top: 20px;
    border-top: 2px solid #e7e7e7;
}

.footer-cart-valor {
    width: 90%;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 15px;
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
}

.cart-btn-close {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 32px;
    cursor: pointer;
}